* {
  margin: 0;
  border: 0;
  font-size: 1rem;
}

.bg-black {
  background-color: #000;
}

.bg-blue-500 {
  background-color: #3b82f6;
}

.text-white {
  color: #fff;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.rounded-md {
  border-radius: 10px;
}

.text-xl {
  font-size: 24px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
